:focus {
    outline:0;
}

body {
    line-height:1;
    color:#000;
    background:#FFF;
}

.clearfix:after {
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}

.clearfix {
    display:inline-block;
}

.clearfix {
    display:block;
}

* html .clearfix {
    height:1px;
}

body {
    color:#333;
    font:12px Arial,Verdana,sans-serif;
    line-height:18px;
}

select,input,textarea {
    font:99% Arial,Verdana,sans-serif;
}

div.sysok,div.sysalert,div.syserror
{
    font-size: 11px;
    margin: 0 0 18px 0;
    padding: 18px 18px 18px 54px;
}
div.sysok
{
    background: #D7F3BD url(../CatalystImages/a16/ok.png) no-repeat 18px 18px;
    border: 1px solid #9ABF85;
}
div.sysalert
{
    background: #FDD8A6 url(../CatalystImages/a16/alert.png) no-repeat 18px 18px;
    border: 1px solid #E0A687;
}
div.syserror
{
    background: #FFD3D4 url(../CatalystImages/a16/delete.png) no-repeat 18px 18px;
    border: 1px solid #E59D9E;
}
body
{
    background: #D2E2CD;
}

#login
{
    background: #fff;
    margin: 100px auto 0;
    -moz-border-radius: 6px;
    -moz-box-shadow: 1px 0 #aaa, 1px 1px #000;
    -webkit-border-radius: 6px;
    -webkit-box-shadow: 1px 0 #aaa, 1px 1px #000;
    width: 540px;
}

#login #panelLogin div
{
    margin: 0 auto;
    padding-bottom: 18px;
    width: 456px;
}
#login div#branding
{
    padding-top: 20px;
    text-align:center;
}
#login div#branding img
{
    display: block;
    margin: 0 auto;

}
#login label
{
    color: #888;
    display: block;
    font-size: 12px;
}
#login input#txtLogin,#login input#txtPassword,#login input.textbox340
{
    background: #fafafa;
    border: 1px solid #eee;
    font-size: 18px;
    line-height: 20px;
    margin: 0;
    padding: 3px;
    width: 440px;
}
#login input#txtLogin,#login input#txtPassword,#login input.textbox340
{
    background: #eee;
    border: 1px solid #ddd;
    font-size: 18px;
    line-height: 20px;
    margin: 0;
    padding: 3px;
    width: 440px;
}
#login input#txtLogin:focus,#login input#txtPassword:focus,#login input.textbox340:focus
{
    background: #fcfcfc;
    border: 1px solid #ccc;
}
#login input#btnLogin
{
    float: right;
    margin-bottom: 10px;
    margin-right: 8px;
}

#login input#btnLogin {
    background: #FAFAFA;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: 1px solid #EEEEEE;
    font-size: 18px;
}

#login a:link,#login a:visited
{
    color: #aaa;
}
#login a:hover,#login a:active
{
    color: #fff;
}

#login p.info
{
	left: 45px;
	margin: 0;
	position: relative;
	top: -50px;
	width: 260px;
}
#login p.info a
{
	color: #0066bc!important;
}

#errorMessage
{
    color: #000;
    margin: 30px auto -85px;
    padding: 18px 18px 18px 54px;
    width: 450px;
}


